@use postcss-preset-env {
    stage: 0;
  }
  
  
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f5;
    color: #02044a;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 10vmin;
  }
  
  input,
  select {
    color: inherit;
    font: inherit;
  }
  
  .align {
    display: grid;
    place-items: center;
  }
  
  .form {
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.0625);
    display: grid;
    gap: 3em;
    padding: 5vmin;
  }
  
  .form__fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  .form__fields {
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
  }
  
  .form__legend {
    font-size: 1.25rem;
    font-weight: 700;
    margin-block-end: 0.5em;
  }
  
  .form__input {
    border: 1px solid #e9e9ef;
    border-radius: 0.25em;
    inline-size: 100%;
    padding-block: 0.5em;
    padding-inline: 1em;
  }
  
  .form__input:focus {
    border-color: #0b75ff;
  }
  
  .grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 960px;

  }
