body {
    scroll-snap-type: y mandatory;
  }
  
  section {
    scroll-snap-align: start;
  }
  html {
      scroll-behavior: smooth
  }
  
  body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    color: black;
    margin: 0;
    overflow-y: scroll;
  }
  
  section {
    padding: 5em;
    height: calc(100vh - 10em);
  }
  
  h1 {
    font-size: 4em;
    line-height:0.9em;
    margin-bottom:0.5em;
  }
  
  p {
    font-size: 1.2em;
    line-height:1.4em;
  }
  
  a {
    text-decoration:none;
    color:black;
    font-weight:700;
  }
  
  .section01 {
    background: #ffffff;
  }
  
  .section02 {
    background: #ffffff;
  }
  
  .section03 {
    background: #ffffff;
  }