*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' ,sans-serif;
}
.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(../img/guest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding: 0 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.hero h1{
    font-size: 75px;
    margin-top: 12%;
    padding-top: 5%;
}
.hero button{
    background-color: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

