*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins' ,sans-serif;
}
.hero{
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: url(../img/hand.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 60%;
    color: white;
    padding: 0 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.hero h1{
    padding-top: 2%;
    font-size: 75px;
    margin-top: 12%;
}
.hero button{
    background-color: #393939;
    border: 0;
    outline: none;
    padding: 15px 35px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
}
.menu-item:not(:first-child) {
    margin-left: 2rem;
}
.menu-item a {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    line-height: inherit;
    color: black;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .header .navbar {
        padding: 1rem 2rem;
        margin: 0 auto;
   }
    .header .navbar .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: white;
        transition: all 0.3s ease;
   }
    .header .navbar .wrapper .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        width: 100%;
        transform: translateY(-50%);
   }
    .header .navbar .wrapper .menu-item {
        padding-bottom: 1rem;
        width: 100%;
        text-align: left;
   }
    .header .navbar .wrapper .menu-item:nth-child(1) a {
        transition-delay: 0.2s;
   }
    .header .navbar .wrapper .menu-item:nth-child(2) a {
        transition-delay: 0.3s;
   }
    .header .navbar .wrapper .menu-item:nth-child(3) a {
        transition-delay: 0.4s;
   }
    .header .navbar .wrapper .menu-item:nth-child(4) a {
        transition-delay: 0.5s;
   }
    .header .navbar .wrapper .menu-item:not(:first-child) {
        margin-left: 0;
   }
    .header .navbar .wrapper .menu-item a {
        padding: 1rem 2rem;
        opacity: 0;
        color: black;
        font-size: 1rem;
        font-weight: 600;
        transform: translateX(-20px);
        transition: all 0.3s ease-in-out;
   }
    .header .navbar .nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;
   }
    .header .navbar .nav-toggle span {
        display: block;
        width: 20px;
        height: 2px;
        background: white;
        border-radius: 2px;
        margin-left: 14px;
   }
    .header .navbar .nav-toggle span:nth-child(1) {
        margin-top: 16px;
   }
    .header .navbar .nav-toggle span:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
   }
    .header .navbar .nav-toggle span:nth-child(3) {
        margin-top: 4px;
   }
    .header .navbar #nav:checked + .nav-toggle {
        transform: rotate(45deg);
   }
    .header .navbar #nav:checked + .nav-toggle span {
        background: black;
        transition: transform 0.5s ease;
   }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(1) {
        transform: translateY(6px) rotate(180deg);
   }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(2) {
        opacity: 0;
   }
    .header .navbar #nav:checked + .nav-toggle span:nth-child(3) {
        transform: translateY(-6px) rotate(90deg);
   }
    .header .navbar #nav:checked ~ .wrapper {
        z-index: 99;
        opacity: 1;
   }
    .header .navbar #nav:checked ~ .wrapper .menu-item a {
        opacity: 1;
        transform: translateX(0);
   }
}
